<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>
	<div th:replace="~{@{administrator/components/style}}"></div>
</head>
<body>
<div th:replace="~{@{administrator/components/nav}}"></div>

<div class="container">
    <div class="h1">Categoria</div>
    <div th:replace="~{@{administrator/components/message_welcome}}"></div>
</div>

    <div th:replace="~{@{administrator/components/script}}"></div>
</body>
</html>