<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>
	<div th:replace="~{@{administrator/components/style}}"></div>
</head>
<body>
<div th:replace="~{@{administrator/components/nav}}"></div>

<div class="container">
    <div class="h1">Comentarios</div>
    <div th:replace="~{@{administrator/components/message_welcome}}"></div>

    <div class="row">
        <!--
        <div class="col-12" th:if="${#strings.toString(param.view_name) == null || #strings.toString(param.view_name) == 'all'}">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria : ${categorias}">
                    <th scope="row" th:text="${categoria.getIdCategoria()}"></th>
                    <td th:text="${categoria.getNombre()}"></td>
                    <td th:text="${categoria.getDescripcion()}"></td>
                    <td th:text="${#dates.format(categoria.getFecha(), 'dd-MM-yyyy HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        -->
        <!--
        <div th:if="${#strings.toString(param.view_name) == 'new' || #strings.toString(param.view_name) == 'update'}" class="col-12">
            <form th:action="@{/admin/categoria}" th:method="post" th:object="${categoria}">
                <input type="hidden" th:field="*{idCategoria}" />
                <div class="form-group">
                    <label for="inpurNombre">Nombre</label>
                    <input type="text" class="form-control" th:value="*{nombre}" th:field="*{nombre}" id="inputNombre" name="inputNombre" />
                </div>
                <div class="form-group">
                    <label for="inpurDescripcion">Descripcion</label>
                    <input type="text" class="form-control" th:value="*{descripcion}" th:field="*{descripcion}" id="inputDescripcion" name="inputDescripcion" />
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
        -->
    </div>
    
</div>

    <div th:replace="~{@{administrator/components/script}}"></div>
</body>
</html>