<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos</title>
	<div th:replace="~{@{administrator/components/style}}"></div>
</head>
<body>
<div th:replace="~{@{administrator/components/nav}}"></div>

<div class="container">
    <div class="h1">Permisos</div>
    <div th:replace="~{@{administrator/components/message_welcome}}"></div>

    <div class="row">
        <div class="col-12" th:if="${#strings.toString(param.view_name) == null || #strings.toString(param.view_name) == 'all'}">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="permiso : ${permisos}">
                        <th scope="row" th:text="${permiso.getIdPermiso()}"></th>
                        <td th:text="${permiso.getNombre()}"></td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-warning">
                                <a class="text-white text-decoration-none" th:href="'/admin/permiso?view_name=update&id=' + ${permiso.getIdPermiso()}">Editar</a>
                            </button>             
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary">
                <a class="text-white text-decoration-none" th:href="'/admin/permiso?view_name=new'">Agregar Permiso</a>
            </button>             
        </div>
        <div th:if="${#strings.toString(param.view_name) == 'new' || #strings.toString(param.view_name) == 'update'}" class="col-12">
            <form th:action="@{/admin/permiso}" th:method="post" th:object="${permiso}">
                <input type="hidden" th:field="*{idPermiso}" />
                <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" th:value="*{nombre}" th:field="*{nombre}" id="inputNombre" name="inputNombre" />
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

    <div th:replace="~{@{administrator/components/script}}"></div>
</body>
</html>