<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicación</title>
	<div th:replace="~{@{administrator/components/style}}"></div>
    <link rel="stylesheet" th:href="@{/css/publicacion.css}">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{@{administrator/components/nav}}"></div>

<div class="container">
    <div class="h1">Publicación</div>
    <div th:replace="~{@{administrator/components/message_welcome}}"></div>

    <div class="row">
        <div class="col-12" th:if="${#strings.toString(param.view_name) == null || #strings.toString(param.view_name) == 'all'}">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="publicacion : ${publicaciones}">
                        <th scope="row" th:text="${publicacion.getIdPost()}"></th>
                        <td th:text="${publicacion.getTitulo()}"></td>
                        <td>
                            <!--<div th:text="${{#dates.format(publicacion.getFecha(), 'dd-MM-yyyy HH:mm')}}"></div>-->
                            <div th:text="${{publicacion.getFecha()}}"></div>
                        </td>
                        <td>
                            <button class="btn btn-warning">
                                <a class="text-white text-decoration-none" th:href="'/admin/publicacion?view_name=update&id=' + ${publicacion.getIdPost()}">Editar</a>
                            </button>             
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary">
                <a class="text-white text-decoration-none" th:href="'/admin/publicacion?view_name=new'">Agregar Publicación</a>
            </button>             
        </div>

        <div class="col-12" th:if="${#strings.toString(param.view_name) == 'new' || #strings.toString(param.view_name) == 'update'}">
            <form id="form1" th:action="@{/admin/publicacion}" th:method="post" th:object="${publicacion}" onsubmit="loadVal();">
                <input type="hidden" th:value="*{tipo}" th:field="*{tipo}" />
                <input type="hidden" th:value="*{idPost}" th:field="*{idPost}" />
                <input type="hidden" name="meta_id" th:value="${meta_descripcion.getIdPostMetadata()}" />

                <div class="form-group">
                    <label for="inputTitulo">Titulo</label>
                    <input class="form-control" type="text" th:value="*{titulo}" id="inputTitulo" th:field="*{titulo}" name="inputTitulo">
                </div>

                <div class="form-group">
                    <label for="inputExtracto">Extracto</label>
                    <input class="form-control" type="text" th:value="*{extracto}" id="inputExtracto" th:field="*{extracto}" name="Titulo">
                </div>

                <div class="form-group">
                    <label for="inputSlug">Slug</label>
                    <input class="form-control" type="text" th:value="*{slug}" id="inputSlug" th:field="*{slug}" name="Titulo">
                </div>

                <div class="form-group">
                    <label for="inputGrupo">Categoria</label>
                    <select th:field="*{categoria}" name="_cargo" id="inputGrupo" class="form-control">
                        <option th:value="${categoria.getIdCategoria()}"
                                th:each="categoria : ${categorias}"
                                th:text="${categoria.getNombre()}"></option>
                    </select>
                </div>

                <div class="content">
                    <div id="alerts"></div>
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-bs-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-bs-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-bs-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                                <button class="btn" type="button">Add</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

                        </div>

                        <div class="btn-group">
                            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                        </div>
                        <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                    </div>

                    <div id="editor" th:utext="${meta_descripcion.getValor()}"></div>

                    <textarea name="meta_descripcion_text_html" id="meta_descripcion_text_html" rows="2" cols="20" style="display:none; "></textarea>

                    <br/>
                    <input id="enviar" type="button" value="Guardar" name="B1" class="btn btn-primary btn-large"></div>
            </form>
        </div>

    </div>
</div>
    <!--Scripts-->
    <div th:replace="~{@{administrator/components/script}}"></div>
    <div th:if="${#strings.toString(param.view_name) == 'update' || #strings.toString(param.view_name) == 'new'}">
        <script th:src="@{/js/jquery.hotkeys.js}"></script>
        <script th:src="@{/js/google-code-prettify/prettify.js}"></script>
        <script th:src="@{/js/bootstrap-wysiwyg.js}"></script>
        <script th:src="@{/js/publicacion.js}"></script>
    </div>
    <!--Scripts end-->
</body>
</html>