    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" th:with="thisUrl=${helloTest}">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/admin/}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/categoria}">Categorías</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/usuario}">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/publicacion}">Publicación</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
